header {
        text-align: center;
        background-color: white;

        padding: 5px;
        padding-bottom: 40px;

        border-bottom: solid 10px lightgreen;
        border-width: 1px;

       /** text-decoration: underline; 
        text-align: center;**/

        display:inline;

        width:  10px;
        height: 10px;
        margin: 10px;

        font-family: Verdana, Geneva, Tahoma, sans-serif;
        }

.intro {
        background: white;
        text-align: center;
        }

h3 { text-decoration: underline;
    font-style: italic;
    }



.container1{display:flex;
            border:5px red solid;
            padding:10px;
            justify-content: center;
            }


.box1{flex:1;}
.box2{flex:1;}












/* body {
    background: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    border-block-end: 1px;
    width: 900px; 
    text-align: center;

}*/

/*span{
    display: inline-block;
    border-bottom: solid 10px black;
    border-width: 1px;
    text-align: center;    
    } */
