header {
    text-align: center;
    background-color: white;

    padding: 5px;
    padding-bottom: 40px;

    border-bottom: solid 10px lightgreen;
    border-width: 1px;

   /** text-decoration: underline; 
    text-align: center;**/

    display:inline;

   /** width:  10px;
    height: 10px;**/
    margin: 10px;

    font-family: Verdana, Geneva, Tahoma, sans-serif;
    }
body{
    padding-left: 100px;
    padding-right: 100px;
    padding-top: 5px;
}
.intro {
    background: white;
    text-align: center;
    }

h3 { text-decoration: underline;
font-style: italic;
}



.container1{
    display:flex;
    border:5px red solid;
    justify-content: center;
}



.box1{
    flex:1;
    padding: 10px;
    border-right: 2.5px red solid;
    font-size: 24px;
}
.box2{
    flex:1;
    padding: 10px;
    border-left: 2.5px red solid;
}

.imgcenter{ display:block;
            margin:auto;
        }



/* body {
background: white;
font-family: Verdana, Geneva, Tahoma, sans-serif;
border-block-end: 1px;
width: 900px; 
text-align: center;
}
*/

/*span{
display: inline-block;
border-bottom: solid 10px black;
border-width: 1px;
text-align: center;    
} */

.form-style{
    border: 1px solid gray;
    border-radius: 5px;
    padding: 10px;
}

input{
    width: 75%;
}
textarea{
    width: 75%;
}

h2{
    text-align: center;
}

form>p{
    margin: 0px;
    margin-top: 30px;
    margin-left: 15%;
}