.ContainerOne{
        display: flex;
        text-align: center;
        width:800px;
        justify-content: center;
        margin: 0;
        color: white;
        flex-direction: column;

}


.HeaderBox{
        width: 800px;
        flex:1;
        background-color:blue;

}


a {
        margin-right: 20px;
        text-align: left;

}
a:link {
        color: white;
}


.NavigationBox{
        flex: 1;
        background-color: green;
}


.ArticleContainer{ 
        display: flex;
        color: white;
        background-color: pink;
        width: 800px;
        text-align: center;
        flex-direction: column;
        
        

}


.SectionOneBox{
        flex: 1;
        background-color:red;
        width: 60%;
        margin-bottom: 10px;
}


.SectionTwoBox{
        flex: 1;
        background-color:red;
        width: 60%;
}


.AsideBox{
        flex: 2;
        background-color: lightskyblue;
        width: 40%;  
}


.FooterBox{
        display: flex;
        background-color:green;
        width:800px;
        color: white;
        justify-content: center;
}