.ContainerOne{
        display: flex;
        text-align: center;
        width:800px;
        justify-content: center;
        color: white;
        flex-direction: column;

}


.HeaderBox{
        width: 800px;
        flex:1;
        background-color:blue;
        margin-top: -20px;
        padding-top: -20px;

}


a {
        margin-right: 20px;
        text-align: left;

}
a:link {
        color: white;
}


.NavigationBox{
        flex: 1;
        background-color: green;
        padding-bottom: 20px;
}


.ArticleContainer{ 
        display: flex;
        color: white;
        background-color: pink;
        width: 800px;
        text-align: center;
        flex-direction: column;
        
        

}

.ArticleBox{
        flex: 1;
        background-color:pink;
        flex-direction: column;
        height: 50%;
        width: 60%;
        margin-top: 0%;
}


.SectionOneBox{
        flex: 3;
        background-color:brown;
        flex-direction: column;
        height: 80px;
        width: 60%;
}


.SectionTwoBox{
        flex: 3;
        background-color:brown;
        flex-direction: column;
        height: 80px;
        width: 60%;
}


.AsideBox{
        flex: 1;
        background-color: lightskyblue;
        width: 40%;  
}


.FooterBox{
        display: flex;
        background-color:green;
        width:800px;
        color: white;
        justify-content: center;
}